/* 💡 إجبار الشاشة على عدم التمدد وتوحيد الخلفية */
#fireworks-overlay {
    position: fixed;
    top: -10vh;
    left: 0;
    width: 100vw;
    height: 120vh;
    background-color: #111;
    z-index: 999999;
}
#fireworks-overlay canvas {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#fireworks-overlay p {
    margin: 0 0;
    position: absolute;
    font: 16px Verdana;
    color: #eee;
    height: 25px;
    top: calc( 100vh - 30px );
    text-shadow: 0 0 2px white;
}
#fireworks-overlay p a {
    text-decoration: none;
    color: #aaa;
}
#fireworks-overlay span {
    font-size: 11px;
}
#fireworks-overlay p > a:first-of-type {
    font-size: 20px;
}
body {
    overflow-x: hidden;
}