#fireworks-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0b0213; /* لون سماء الليل الموحد */
    z-index: 999999;
}
#fireworks-overlay canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fireworks-overlay p {
    margin: 0 0;
    position: absolute;
    font: 16px Verdana;
    color: #eee;
    height: 25px;
    top: calc( 100vh - 30px );
    text-shadow: 0 0 2px white;
}
#fireworks-overlay p a {
    text-decoration: none;
    color: #aaa;
}
#fireworks-overlay span {
    font-size: 11px;
}
#fireworks-overlay p > a:first-of-type {
    font-size: 20px;
}
body {
    overflow-x: hidden;
}